{% extends 'base.html' %}

{% block content %}

<div class = "col">
    {% include 'components/question_item_page.html' %}
    <div class = "row question_header" style = "font-size: 24px; padding-bottom: 2%">
        Ответы
    </div>
    {% for answer in items %}

        {% include 'components/answer_item.html' %}

    {% endfor %}

    <form class="row" style = "padding-right: 2%">
        <label for="Textarea" class="form-label" style = "padding-bottom: 1%; margin: 0; padding-left: 0">Добавьте свой ответ:</label>
        <textarea class="form-control" id="Textarea" placeholder="Введите текст ответа" style = "margin-bottom: 1%" maxlength="2000"></textarea>
        <div class="d-grid gap-2 justify-content-md-end d-md-flex" style = "padding-right: 0">
            <button class="btn btn-success" type="button">Отправить ответ</button>
        </div>
    </form>

    <div class = "row" style = "padding-bottom: 2%; padding-top: 2%">
        <span class="text-center">
            <form action = "{% url 'question' question.id %}">
                {% include 'components/pagination.html' %}
            </form>
        </span>
    </div>
</div>
{% endblock %}