{% extends 'base.html' %}

{% block content %}
<div class = "bold_header" style = "padding-left: 0">Новые вопросы</div>

<div class = "col">
    {% for question in items %}

    <!-- Список вопросов -->
    {% include 'components/question_item_list.html' %}

    {% endfor %}
    <!-- Пагинация -->
    <div class = "row" style = "padding-bottom: 2%;">
        <span class="text-center">
            <form action = "{% url 'index' %}">
                {% include 'components/pagination.html' %}
            </form>
        </span>
    </div>
</div>


{% endblock %}