{% extends 'base.html' %}

{% block content %}
<div class = "col-4"></div>
<div class = "col">
    <div class = "mb-3 bold_header" style = "padding-bottom: 1%">
        Вход в аккаунт
    </div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <div style = "padding-top: 1%" > {{ field.label }} </div>
            <div class = "col fieldWrapper" style = "width: 300px;">
                {{ field }}
                <div style = "padding-top: 1%; color: red">
                    {{ error }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div style = "color: red">
            {{ form.non_field_errors }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <div class = "row" style = "padding-top: 5%">
        <a href = "{% url 'signup' %}">
            Еще нет аккаунта? Зарегистрируйтесь!
        </a>
    </div>
</div>
{% endblock %}