{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="col">
    {% include 'components/question_item_page.html' %}
    <div class="row question_header" style="font-size: 24px; padding-bottom: 2%">
        {% trans 'Ответы' %}
    </div>
    {% for item in items %}

    {% include 'components/answer_item.html' %}

    {% endfor %}

    <form class="row" style="padding-right: 2%" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if request.user.is_authenticated %}
        <div class="row" style="padding-bottom: 2%">
            <div class="form-label" style="padding-bottom: 1%; margin: 0; padding-left: 0; padding-right: 0">
                {{ field.label }}
            </div>
            <div style="padding-left: 0">
                {{ field }}
                <div style="padding-top: 1%; color: red">
                    {{ error }}
                </div>
            </div>
        </div>
        <div style="color: red">
            {{ form.non_field_errors }}
        </div>
        <div class="d-grid gap-2 justify-content-md-end d-md-flex" style="padding-right: 4%">
            <button class="btn btn-success" type="submit">{% trans 'Отправить ответ' %}</button>
        </div>
        {% else %}
        <div class="row" style="padding-bottom: 2%">
            <div class="form-label" style="padding-bottom: 1%; margin: 0; padding-left: 0; padding-right: 0">
                {% trans 'Войдите в аккаунт, чтобы добавить свой ответ на вопрос.' %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </form>

    <div class="row" style="padding-bottom: 2%; padding-top: 2%">
        <span class="text-center">
            <form action="{% url 'question' item.id %}">
                {% include 'components/pagination.html' %}
            </form>
        </span>
    </div>
</div>
{% endblock %}