{% extends 'base.html' %}

{% block content %}
<div class = "col-3"></div>
<div class = "col">
    <div class = "mb-3 bold_header" style = "padding-bottom: 1%;">
        Настройки: {{ user.username }}
    </div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="row mb-3">
            <div class="col-sm-3 col-form-label"> {{ field.label }} </div>
            <div class = "col-sm-9" style = "width: 375px;">
                {{ field }}
                <div style = "padding-top: 1%; color: red">
                    {{ error }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div style = "color: red">
            {{ form.non_field_errors }}
        </div>
        <div class = "row mb-3" style = "padding-top: 1%; padding-left: 28%">
            <button type="submit" class="btn btn-success" style = "width: 200px">Сохранить изменения</button>
        </div>
    </form>
</div>
{% endblock %}