{% load static %}
{% load extras %}
{% load i18n %}

<div class = "row" style = "padding-top: 2%; padding-bottom: 2%">
    <div class = "border rounded border-success">
        <div class = "row">
            <div class = "col-2 text-center" style = "margin: 10px; padding: 0px">
                <img src = "{{ item.profile.avatar.url }}" width = 100px height="100px">
                <div class = "row" style = "justify-content: center">
                    {{ item.profile.login }}
                </div>
                {% csrf_token %}
                <div class="row like-questions-list" data-id="{{ item.pk }}" style="padding-top: 5%">
                    {% include 'components/like_item.html' %}
                </div>
            </div>
            <div class = "col-9" style = "margin-bottom: 10px; padding-left: 2%">
                <div class = "row question_header">
                    <a href = "{% url 'question' item.id %}" style = "padding: 0; padding-top: 1%">
                        {{ item.title }}
                    </a>
                </div>
                <div class = "row">
                    {{ item.text }}
                </div>
                <div class = "row" style = "font-style: italic; padding-top: 2%">
                    {% trans 'Вопрос добавлен' %} {{ item.date }}
                </div>
                <div class = "row" style = "padding: 1%; padding-left: 0%">
                    <div class = "col" style = "padding-left: 0">
                        {% trans 'Теги:' %}
                        {% for tag in item.get_tags %}
                        <a href = "{% url 'search' tag %}" style = "padding-left: 1%;" >
                            {{ tag }}
                        </a>
                        {% endfor %}
                    </div>
                    <div class = "col text-end">
                        <a href = "{% url 'question' item.id %}">
                            {% trans 'Ответы:' %} {{ item.answers_count }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>